{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Вход в систему</h1>
    {% if form.errors %}
        <div class="col-xl-12">
		<p>
            Введенные имя и пароль пользователя неверны.
			Повторите попытку снова.
        </p>
      </div>
		
    {% else %}
        
	<div class="col-xl-12">

		<p>Пожалуйста, заполните форму для входа:</p>
		
	</div>
    {% endif %}
    <div class="col-xl-12">
		<div class="login-form">
			<form action="{% url 'login' %}" method="post">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}"/>
				<p><input type="submit" value="Войти"></p>
			</form>
		</div>
	</div>
{% endblock %}