{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


    <div class="welcome_docmed_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{% static 'img/about/1.png' %}" alt="">
                        </div>
                        <div class="thumb_2">
                            <img src="{% static 'img/about/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        
                        <h3>Информация о нас</h3>
                        <p>Полное наименование: Краевое государственное бюджетное учреждение здравоохранения “Ачинская межрайонная больница″ <br>

Краткое наименование: КГБУЗ “Ачинская МРБ″ <br>

Реестровый номер: 240005<br>

Адрес: 662161, Россия , Красноярский край, Ачинский р-н, Ачинск г., м-н 5 51,<br>

Руководитель: Лебедев Денис Юрьевич , тел.: (39151) 6-85-19<br>

Режим работы: Поликлиника: понедельник-пятница 7.30-19.00, суббота 9.00-14.00, госпитализация планово с 8.00 до 13.50, экстренная круглосуточно<br>

Учредитель: Министерство Здравоохранения Красноярского Края</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}