{% extends 'blog/base.html' %}
{% load static %}


{% block content %}




    <div class="welcome_docmed_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{% static 'img/about/1.png' %}" alt="">
                        </div>
                        <div class="thumb_2">
                            <img src="{% static 'img/about/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        
                        <h3>Информация о видах оказываемой помощи</h3>
                        <p>Виды оказываемой медицинской помощи: <br><br>
1) Cтационарная помощь: ОТОРИНОЛАРИНГОЛОГИЯ, СТОМАТОЛОГИЯ, Неврологические для больных с острыми нарушениями мозгового кровообращения, ПУЛЬМОНОЛОГИЯ, ЭНДОКРИНОЛОГИЯ, ГНОЙНО-СЕПТИЧЕСКАЯ ХИРУРГИЯ, УРОЛОГИЯ, ГАСТРОЭНТЕРОЛОГИЯ, ОФТАЛЬМОЛОГИЯ, КАРДИОЛОГИЯ, НЕВРОЛОГИЯ, НЕЙРОХИРУРГИЯ, ТЕРАПИЯ, ОНКОЛОГИЯ, ТРАВМАТОЛОГИЯ, ХИРУРГИЯ, ГЕМАТОЛОГИЯ, ОФТАЛЬМОЛОГИЯ ДЕТСКАЯ<br><br>
2) Стационаро-замещающая помощь: ОТОРИНОЛАРИНГОЛОГИЯ, ОФТАЛЬМОЛОГИЯ, ТРАВМАТОЛОГИЯ, ПУЛЬМОНОЛОГИЯ, ГАСТРОЭНТЕРОЛОГИЯ, ТЕРАПИЯ, ОФТАЛЬМОЛОГИЯ ДЕТСКАЯ, НЕВРОЛОГИЯ, ОНКОЛОГИЯ, ЭНДОКРИНОЛОГИЯ, НЕФРОЛОГИЯ, УРОЛОГИЯ<br><br>
3) Амбулаторно-поликлиническая помощь: Терапия(общая), Гематология, Хирургия(общая), Эндокринология, Нейрохирургия, Кардиология, Травматология и ортопедия, Неврология, Офтальмология, Отоларингология, Колопроктология, Профпатология, Инфекционные болезни, Урология, Стоматология, Онкология, Лечебное дело</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}