{% extends 'blog/base.html' %}

{% load static %}
  
  {% block content %}


      <div class="col-xl-12">
                <h1>Запись на прием к врачу</h1>
				<h5>Выберите специализацию врача, к которому хотите записаться:</h5>

      </div>
	  

      <div class="row marketing">
			{% for specialization in specializations %}
		  <div class="col-lg-6">
                              <h4>{{specialization.specialization|safe}}</h4>
				   <p> <a class="btn btn-inverse"
                       href="{% url 'vrach' specialization=specialization.id %}">Выбрать эту специализацию</a>
                  </p>
          </div>
         {% endfor %}

	  </div>

  {% endblock content %}

  {% block css %} 
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.theme.css' %}">
  {% endblock %}