{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block content %}

 <div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
  </div>
  <div class="panel-body">
	<div class="col-xl-12 center">
	<div class="well well-lg" align="center">
		<h3>Спасибо, Ваше сообщение отправлено!</h3>
		<div align="center"><a href="/"><button type="button" class="btn btn-info">Вернуться на главную</button><br></a></div>
		<h3></h3>
		<h3></h3>
	  </div>
	  </div>
</div>
</div>
{% endblock %}